<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/style.css">
	<title>map interactive</title>
</head>
<body>
	<div id="page">

		<header>
			<a id="site-title" href="home.html"><h1><strong>O</strong>ccaz' <strong>O</strong>ù ?</h1></a>
		</header>

		<section id="content-container" class="connection">
      <article class="content">
        <h2>Se Connecter</h2>

        <form action="#" method="post">
          <p>
            <label for="username">Nom d'utilisateur</label>
            <input type="text" name="username" id="username">
          </p>
          <p>
            <label for="password">Mot de passe</label>
            <input type="password" name="password" id="password">
          </p>
          <p>
            <input id="submit" type="submit" value="Me connecter">
          </p>
        </form>

        <p>Vous n'êtes pas encore inscrit ? <a href="registration.html">S'inscrire</a></p>
      </article>
	  </section>

	</div>
</body>
</html>