<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="../public/css/style.css">
	<title>map interactive</title>
</head>
<body>
	<div id="page">

		<header>
			<a id="site-title" href="home.html"><h1><strong>O</strong>ccaz' <strong>O</strong>ù ?</h1></a>
			<section id="connection-area">
				<label for="connection-check" id="connection">
					<div>
						<i id="user-icon" class="far fa-user"></i>
						<p id="username">Nom Utilisateur</p>
					</div>
				</label>

				<input type="checkbox" name="connection-check" id="connection-check">

				<div id="user-menu">
					<ul class="user-menu-list">
						<li class="user-menu-list-item"><a href="myAccount.html">Mon compte</a></li>
						<li class="user-menu-list-item"><a href="myAnnounces.html">Mes annonces</a></li>
						<li class="user-menu-list-item"><a href="createAnnounce.html">Déposer une annonce</a></li>
						<li class="user-menu-list-item"><a href="#">Me déconnecter</a></li>
					</ul>
				</div>

			</section>
		</header>

		<section id="content-container" class="create-announce">
      <article class="content">
        <h2>Créer une annonce</h2>

        <form action="" method="POST" enctype="multipart/form-data">
          <fieldset>
            <legend>Titre de l'annonce</legend>
            <input type="text" name="announceTitle" id="announceTitle" required>
          </fieldset>
          <fieldset>
            <legend>Texte de l'annonce</legend>
            <textarea type="text" name="announceText" id="announceText" required></textarea>
          </fieldset>
          <fieldset>
            <legend>Prix</legend>
            <input type="text" name="price" class="input-price" id="price" required>
          </fieldset>
          <fieldset>
            <legend>Photo de l'annonce</legend>
            <input type="file" name="picture" class="input-picture" id="picture">
          </fieldset>
          <input class="submit" type="submit" value="Enregistrer">
        </form>
      </article>
	  </section>

	</div>
</body>
</html>